:root {
  /* color variables */
  --color_1: rgb(26, 30, 31);
  --color_2: rgb(244, 244, 244);
  --color_3: rgb(0, 163, 224);
  --color_4: rgb(43, 43, 43);
  --color_5: rgb(170, 170, 170);
  --color_6: rgb(34, 34, 34);
  --color_7: rgb(22, 22, 22);
  --color_8: rgb(219, 219, 219);
  --color_9: rgb(0, 174, 239);
  --color_10: rgb(43, 43, 43);
  --color_11: rgb(0, 128, 176);
  --color_12: rgb(255, 255, 255);
  --color_13: rgb(232, 230, 230);
  --color_14: rgb(52, 49, 49);
  --color_15: rgb(51, 51, 51);
  --color_16: rgb(0, 174, 243);
  --color_17: rgb(201, 201, 201);
  --color_18: rgb(165, 165, 165);

  /* font variables */
  --font_0: normal normal normal 24px/1.6em
      wfont_643d94_dd28b3957391427eb54de1c9eff7cfb1,
    wf_dd28b3957391427eb54de1c9e, orig_tbc_x_regular;
  --font_1: normal normal normal 16px/1.4em din-next-w01-light,
    din-next-w02-light, din-next-w10-light, sans-serif;
  --font_2: normal normal normal 20px/1.6em
      wfont_643d94_93c16d86ec9d47d0a2a36894fbdd54fd,
    wf_93c16d86ec9d47d0a2a36894f, orig_tbc_x_medium;
  --font_3: normal normal normal 48px/1.6em
      wfont_643d94_dd28b3957391427eb54de1c9eff7cfb1,
    wf_dd28b3957391427eb54de1c9e, orig_tbc_x_regular;
  --font_4: normal normal normal 32px/1.6em
      wfont_643d94_dd28b3957391427eb54de1c9eff7cfb1,
    wf_dd28b3957391427eb54de1c9e, orig_tbc_x_regular;
  --font_5: normal normal normal 28px/1.6em
      wfont_643d94_dd28b3957391427eb54de1c9eff7cfb1,
    wf_dd28b3957391427eb54de1c9e, orig_tbc_x_regular;
  --font_6: normal normal normal 24px/1.6em
      wfont_643d94_dd28b3957391427eb54de1c9eff7cfb1,
    wf_dd28b3957391427eb54de1c9e, orig_tbc_x_regular;
  --font_7: normal normal normal 18px/1.6em
      wfont_643d94_dd28b3957391427eb54de1c9eff7cfb1,
    wf_dd28b3957391427eb54de1c9e, orig_tbc_x_regular;
  --font_8: normal normal normal 16px/1.6em
      wfont_643d94_dd28b3957391427eb54de1c9eff7cfb1,
    wf_dd28b3957391427eb54de1c9e, orig_tbc_x_regular;
  --font_9: normal normal normal 14px/1.6em
      wfont_643d94_dd28b3957391427eb54de1c9eff7cfb1,
    wf_dd28b3957391427eb54de1c9e, orig_tbc_x_regular;
  --font_10: normal normal normal 10px/1.4em din-next-w01-light,
    din-next-w02-light, din-next-w10-light, sans-serif;
  --font_11: normal normal normal 42px/1.6em
      wfont_643d94_f52303b2efea42e1b4aeed119e42672e,
    wf_f52303b2efea42e1b4aeed119, orig_tbc_x_black;
  --font_12: normal normal normal 20px/1.4em
      wfont_dd97f4_7737b5e7be24426aa35c9f4311c1de96,
    wf_7737b5e7be24426aa35c9f431, orig_tbc_sailec_bold;

  /* transition variables */
  --trans: color 0.4s ease 0s;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* -------------------------------------------- Header -------------------------------------------- */
button.nav-btn {
  height: clamp(30px, 7vw, 40px);
  aspect-ratio: 0.8/1;
  border: 0;
  background: 0;
  position: relative;
  z-index: 5;
}

.nav-btn .line {
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 3rem;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  position: absolute;
  top: 50%;
}

.nav-btn .line:nth-of-type(1) {
  width: 50%;
  top: 15%;
}

.nav-btn .line:nth-of-type(3) {
  width: 50%;
  top: 85%;
  right: 0;
}

.nav-btn {
  display: none;
}

.nav-btn.active div:nth-child(1) {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.nav-btn.active div:nth-child(2) {
  opacity: 0;
}
.nav-btn.active div:nth-child(3) {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

.off_screen_menu {
  background-color: var(--color_4);
  height: 100%;
  max-width: 60%;
  position: fixed;
  top: 0;
  right: -450;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  font-size: 22px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  color: var(--color_2);
  padding-top: 40%;
  display: none;
}

.off_screen_menu li {
  margin: 30px;
}

.off_screen_menu.active {
  right: 0;
}

header {
  background-color: var(--color_1);
  height: 84px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  -webkit-box-shadow: var(none, 0 0 5px rgba(0, 0, 0, 0.5));
  box-shadow: var(none, 0 0 5px rgba(0, 0, 0, 0.5));
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.container {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
}

nav {
  width: 40%;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

nav ul a {
  color: var(--color_2);
  font-size: 14px;
  font: var(--font_9);
}

nav li.active a {
  color: var(--color_3);
}

nav ul a:hover {
  color: var(--color_3);
  -webkit-transition: var(--trans);
  -o-transition: var(--trans);
  transition: var(--trans);
}

/* -------------------------------------------- Section 2 -------------------------------------------- */
.section_2 {
  background: url(/images/section_2_background_image.webp);
  background-size: cover;
  height: 352px;
  color: var(--color_2);
  font: var(--font_11);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section_2 p:nth-child(2) {
  font-size: 34px;
  text-transform: uppercase;
}

/* -------------------------------------------- Section 3 -------------------------------------------- */
.section_3 {
  color: var(--color_2);
  background-color: var(--color_4);
  font: var(--font_5);
  padding: 3.7%;
}

.section_3 a {
  font: var(--font_12);
  color: var(--color_3);
}

.section_3 p {
  margin-bottom: 3.7%;
}

.section_3 a:hover {
  color: var(--color_5);
  -webkit-transition: var(--trans);
  -o-transition: var(--trans);
  transition: var(--trans);
}

/* -------------------------------------------- Section 4 -------------------------------------------- */
.section_4 {
  background-color: var(--color_7);
  padding: 2.4%;
}

.section_4 h4 {
  color: var(--color_8);
  font: var(--font_6);
  margin-bottom: 6.5%;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 38px 1fr 38px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 38px;
}

.grid-item {
  border: 1px solid rgba(85, 85, 85, 1);
  border-radius: 6px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-row-gap: 40px;
}

.grid-item div:nth-child(2),
.grid-item div:nth-child(3),
.grid-item div:nth-child(4) {
  margin-left: 20px;
}

.grid-item div:nth-child(3) {
  margin-top: -10px;
}

.grid-item div:nth-child(4) {
  margin-top: 60px;
  margin-bottom: 20px;
}

.grid-item img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  max-height: 100%;
}

.grid-item h5 {
  font: var(--font_7);
  color: var(--color_2);
}

.grid-item p {
  font: var(--font_9);
  color: var(--color_2);
}

.course_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.course_details svg,
.course_details a {
  color: var(--color_9);
}

.course_details a {
  font-family: var(--font_2);
  font-size: 16px;
  margin-left: -20px;
}

.course_details a:hover {
  color: var(--color_11);
  -webkit-transition: var(--trans);
  -o-transition: var(--trans);
  transition: var(--trans);
}

/* -------------------------------------------- Section 5 - Slider -------------------------------------------- */
section#partners {
  background-color: var(--color_4);
}

.partners-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: clamp(0.5rem, 4vw, 2rem);
  padding: clamp(0.7rem, 2.5vw, 2rem) 0 clamp(1rem, 4vw, 4rem);
}

#partners h3 {
  font-weight: 400;
  padding-top: 40px;
  margin-bottom: 60px;
  color: var(--color_2);
  font: var(--font_3);
  font-size: 24px;
}

.partners-content button {
  background: 0;
  border: 0;
  color: var(--color_2);
  cursor: pointer;
}

.partners-content svg {
  width: clamp(15px, 3vw, 20px);
  height: clamp(30px, 4vw, 43px);
  pointer-events: none;
}

.partners-content button:hover svg {
  fill: var(--color_17);
}

.partners-slider {
  width: clamp(400px, 80vw, 980px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}

.partners-logos {
  position: absolute;
  left: 0;
  width: 100%;
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
}

.partners-logos.show {
  -webkit-animation: show 0.7s linear forwards;
  animation: show 0.7s linear forwards;
}

@-webkit-keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.partners-logos.hide {
  -webkit-animation: hide 0.7s linear forwards;
  animation: hide 0.7s linear forwards;
}

@-webkit-keyframes hide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.partners-logos img {
  width: 25%;
}

.slider-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.slider-btn svg {
  width: 20px;
  fill: var(--color_2);
}

.arr-left-slider {
  left: clamp(-150px, -7vw, -50px);
}

.arr-right-slider {
  right: clamp(-150px, -7vw, -50px);
  -webkit-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.8rem;
  margin: 1.5rem auto 0;
}

.actions svg {
  width: 6px;
  height: 6px;
  fill: var(--color_2);
}

@media (max-width: 700px) {
  .centered {
    margin: 0;
  }

  .partners-content h3 {
    margin-bottom: clamp(0.5rem, 5vw, 1rem);
  }

  .partners-slider {
    width: auto;
    height: clamp(230px, 45vw, 300px);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .slider-btn {
    display: none;
  }

  .partners-logos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    gap: 2rem;
  }

  .partners-logos img {
    width: max(50%, 190px);
  }

  .actions {
    margin: 0 auto;
  }
}

/* -------------------------------------------- Section 6 - FAQ -------------------------------------------- */
.section_6 {
  background-color: var(--color_7);
  color: var(--color_2);
  padding: 7%;
}

.faq {
  position: relative;
}

.faq_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
}

.section_6 h2 {
  font: var(--font_6);
  line-height: 1.2em;
}

.section_6 a {
  font: var(--font_12);
  color: var(--color_9);
}

.section_6 a:hover {
  color: var(--color_18);
  -webkit-transition: var(--trans);
  -o-transition: var(--trans);
  transition: var(--trans);
}

.question {
  cursor: pointer;
  padding: 30px 0px;
  font: var(--font_7);
  line-height: 1.2em;
}

.answer {
  display: none;
  padding: 10px;
  background-color: #f0f0f0;
  font: var(--font_9);
  line-height: 2;
  background-color: var(--color_7);
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 0.3s ease;
  -o-transition: max-height 0.3s ease;
  transition: max-height 0.3s ease;
}

.answer p:nth-child(1),
.answer p:nth-child(6) {
  padding: 25px 0px;
}

.faq > div {
  border-bottom: 1px solid var(--color_14);
}

.arrow {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: var(--color_2) transparent transparent transparent;
  position: absolute;
  right: 0;
}

.arrow.up {
  -webkit-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg); /* Rotate arrow upside down */
}

.active {
  display: block;
}

.answer.active {
  max-height: 1000px;
}

/* -------------------------------------------- Footer -------------------------------------------- */
.footer {
  background-color: var(--color_1);
  color: var(--color_12);
  padding: 30px 0;
}

.footer_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer img {
  width: 106px;
  height: 30px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.footer a {
  font: var(--font_9);
}

.footer-column p {
  margin: 20px 0px;
  color: var(--color_12);
}

.footer-column:nth-child(2) {
  text-align: right;
}

.social-icons img {
  padding: 3px;
  margin-bottom: 50px;
}

.footer-column:nth-child(1) a {
  color: var(--color_12);
}

.footer-column:nth-child(2) > a {
  background-color: var(--color_16);
  color: var(--color_12);
  border: 2px solid var(--color_16);
  border-radius: 6px;
  width: 162px;
  height: 39px;
  /* margin-top: 120px; */
  font: var(--font_8);
  outline: none;
  padding: 10px 40px;
}

.footer-column:nth-child(2) a:hover {
  background-color: var(--color_12);
  border: 2px solid var(--color_12);
  color: var(--color_1);
  -webkit-transition: var(--trans);
  -o-transition: var(--trans);
  transition: var(--trans);
}
